.Quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E5E5;
    padding-top: 7%;
    padding-bottom: 7%;
    margin: auto;
}
.Quotes >h1{
    text-align: center;
    font-size: 40px;
    color: #1F284F;
    line-height: 48px;
    font-weight: bold;
}
.Qoutestext{
    display: flex;
    justify-content: center;
}
.quotesub{
    padding-left: 15%;
}
.Qoutestext >h1{
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #575757;
    padding-bottom: 2%;
    text-align: left;
    max-width: 70%;
    margin: auto;
}
.quotesub >h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    color: #0070F0;
}
.quotesub >h3{
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 20px;
    font-weight: 400;
    color: #575757;
}